.body{
    text-align: center;
}
.h2{
    color: white;
    text-shadow: 0 0 5px red;
}
.em{
    font-variant: small-caps;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 25px;
}
.doan_1{
    color: red;
}
.doan_2{
    color: blue;
}
.doan_3{
    color: green;
}
strong{
    color: brown;
}
.doan_4{
    color: red;
}